<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/blog/css/bootstrap.css}">
</head>
<body>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="col-md-6">
                <div class="row-fluid">
                    <div class="span4">
                    </div>
                    <div class="span4">
                        <img alt="140x140" th:src="@{/blog/images/user.jpg}" class="img-circle" />
                    </div>
                    <div class="span4">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>
                    h3. 这是一套可视化布局系统.
                </h3>
                <span class="label label-info">文字标签</span>
                <span class="label label-info">文字标签</span>
                <span class="label label-info">文字标签</span>
            </div>
        </div>
    </div>
</body>
</html>